* {
  box-sizing: border-box;
}

.Test your Pet Knowledge {
  display: inline;
  text-align: end;
  margin: 100%;
  color: black;
  font-size: 200px;
}

body {
  font-family: Arial;
  color: black;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  image-rendering: auto;
}

.right {
  right: 0;
  background-color: rgb(66, 83, 36);
}
h1 {
  font-size: 55px;
  color: black;
  margin-top: -125px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.start button {
  size: 75%px;
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.container {
  width: 450px;
  height: 250px;
  background-color: black;
}

footer {
  width: 450px;
  height: 100px;
  background-color: black;
  margin: 500px, 300px, 100px, 100px;
  margin: none;
}
