* {
  box-sizing: border-box;
}

.TestYourPetKnowledge {
  display: block;
  color: black;
  font-size: 125px;
  position: absolute;
  top: 100px;
  display: block;
}

body {
  font-family: Arial;
  color: black;
}

#start_button {
  position: absolute;
  top: 20px;
  right: 220px;
  
  background-color: rgb(204, 165, 38);
}


.answer-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}


.hide {
  display: none;
}



.Q_container {
  width: 500px;
  height: 350px;
  background-color: black;
  padding: 25px;
  display: block;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  image-rendering: auto;
}

.right {
  right: 0;
  background-color: rgb(66, 83, 36);
}
h1 {
  font-size: 55px;
  color: black;
  margin-top: -125px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#high_score_btn {
  position: absolute;
  top: 430px;
  right: 195px;
  display: block;
  background-color: rgb(73, 88, 173);
  width: 125px;
  height: auto
}


#HighScore {
  clear: both;
  position: absolute;
  top: 425px;
  right: 1px;
  width: 500px;
  height: 120px;
  background-color: black;
  display: inline
}

