* {
  box-sizing: border-box;
}

.Test your Pet Knowledge {
  display: inline;
  color: black;
  font-size: 125px;
}

body {
  font-family: Arial;
  color: black;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  image-rendering: auto;
}

.right {
  right: 0;
  background-color: rgb(66, 83, 36);
}
h1 {
  font-size: 55px;
  color: black;
  margin-top: -125px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.start button {
}

.container {
  width: 450px;
  height: 250px;
  background-color: black;
}

.HighScore {
  color: rgb(182, 147, 34);
  font-size: 25px;
  font: bold;
  text-align: center;
  clear: both;
  position: absolute;
  top: 575px;
  right: 115px;
  width: 450px;
  height: 100px;
  background-color: black;
  display: inline;
}
